<!doctype html>
<div class="col-lg-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">All Projects</h4>
        <p class="card-description"> Click on a project for details
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Project</th>
            </tr>
            </thead>
            <tbody>
            {{ range $ }}
            <tr>
                <th>{{ .Name}}</th>
            </tr>
            {{ end}}
            </tbody>
        </table>
        </div>
    </div>
</div>