<!doctype html>
<div class="col-lg-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Alle Nutzer</h4>
        <p class="card-description"> Klicke auf einen Nutzer für Details
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nutzer</th>
            </tr>
            </thead>
            <tbody>
            {{ range $ }}
            <tr style="transform: rotate(0);">
                <th scope="row"><a class="stretched-link" href="/game_overview/{{.Name}}" style="color: #940091ad;
                text-decoration: none;"><img style="width: 25px; height: 25px;" src="/assets/images/user/{{.Picture}}"></img>&nbsp;&nbsp;{{ .Name}}</a></th>
            </tr>
            {{ end}}
            </tbody>
        </table>
        </div>
    </div>
</div>