<!doctype html>

<!-- partial:/partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="/index" name="home">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
        </a>
        <li class="nav-item">
            <a class="nav-link" href="/game_overview">
                <span class="menu-title">Spiele Übersicht</span>
                <i class="mdi mdi-book-multiple menu-icon"></i>
            </a>
        </li>
        <li class="nav-item sidebar-actions">
        <span class="nav-link">
            <div class="border-bottom">
            <h6 class="font-weight-normal mb-3">Bibliothek</h6>
            </div>
            <a class="btn btn-block btn-lg btn-gradient-primary mt-4" href="/addUser"><i class="mdi mdi-database-plus"></i>&nbsp;&nbsp;Neuer Nutzer</a>
        </span>
        </li>
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div class="border-bottom">
                <h6 class="font-weight-normal mb-3">Bibliothek</h6>
                </div>
                <a class="btn btn-block btn-lg btn-gradient-primary mt-4" href="/addUser"><i class="mdi mdi-database-plus"></i>&nbsp;&nbsp;Db download</a>
            </span>
            </li>
    </ul>
</nav>